{
    "extends": [
        "@hckrnews/eslint-config"
    ],
    "rules": {
        "consistent-return": "warn",
        "eqeqeq": "warn"
    },
    "env": {
        "es6": true,
        "node": true,
        "jquery": false,
        "browser": true
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
